* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #6B9D7E;
}


.game-board {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}


.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #7F5C62;
    background-color: #c9b4a5;
}

h1 {
    background-color: #9D3750;
    color: #2E313B;
    font-size: 42px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 20px auto;
    display: inline-block;
    border-radius: 10px;   
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8E454C;
    color: #C9B4A5;
    border-radius: 1.25rem;
    border: none;
}

#new-game {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #8E454C;
    color: #C9B4A5;
    border-radius: 1.25rem;
    border: none;
}

#msg{
    color: #C9B4A5;
    font-size: 5vmin;
}

.notify{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}
